<!-- ESTE ARCHIVO EXTIENDE A INDEX Y ES RENDERIZADO (REVISAR VIEWS)-->
{% extends 'miapp2/index.html'%}
{% load static %}


{% block content %}

<div class="container-fluid bg-dark" id="competencias"> 
    <div class="row">
      <h3>
        Nuestras Competencias
      </h3>
    </div>

    <div class="row">
    {% for element1 in numeros_a %}
      <div class="col-md-6 col-lg-3">
        
        <div class="card">
          <h3 class="card-header">Competencia {{element1}}</h3>
          <div class="card-body">
            <h4 class="card-title">Subtítitulo competencia </h4>
            <p class="card-text">Descripción de la competencia del 
                grupo Full Stack Python de Awakelab.</p>
            <a href="#!" class="btn btn-dark">Ver mas</a>
          </div>
        </div>
      </div>
    {%endfor%}
    </div>
    
    
   
    <div class="row">
    {% for element2 in numeros_b %}
      <div class="col-md-4">
        <div class="card">
          <h3 class="card-header">Competencia {{element2}}</h3>
          <div class="card-body">
            <h4 class="card-title">Subtítitulo competencia</h4>
            <p class="card-text">Descripción de la competencia del 
              grupo Full Stack Python de Awakelab.</p>
            <a href="#!" class="btn btn-dark">Ver mas</a>
          </div>
        </div>
      </div>
    {%endfor%}
    </div>
  
</div>


<div class="container-fluid bg-light" id="equipo">
  <div class="row">
    <h3>Nuestro Equipo</h3>
  </div>
  <div class="row">
    <div id="team-carousel" 
        class="carousel slide" 
        data-ride="carousel" 
        data-interval="3000">
      <div class="carousel-inner" style="padding: 4rem;" role="listbox">
        <div style="height: 400px" class="carousel-item active">
          <img class="d-block img-fluid carousel-img" src="{% static 'miapp2/img/group1.jpg' %}">
          <div class="carousel-caption">
            Grupo Front End
          </div>
        </div>
        <div style="height: 400px" class="carousel-item">
          <img class="d-block img-fluid carousel-img" src="{% static 'miapp2/img/group2.jpg' %}">
          <div class="carousel-caption">
            Grupo Back End
          </div>
        </div>
        <div style="height: 400px" class="carousel-item">
          <img class="d-block img-fluid carousel-img" src="{% static 'miapp2/img/group3.jpg' %}">
          <div class="carousel-caption">
            Grupo DevOps
          </div>
        </div>
      </div>
      <a class="left carousel-control" 
          href="#team-carousel" 
          role="button" 
          data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
      </a>
      <a class="right carousel-control" 
          href="#team-carousel" 
          role="button" 
          data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
      </a>
      <ol class="carousel-indicators">
        <li data-target="#team-carousel" 
            data-slide-to="0" 
            class="active"></li>
        <li data-target="#team-carousel" 
            data-slide-to="1"></li>
        <li data-target="#team-carousel" 
            data-slide-to="2"></li>
      </ol>
    </div>
  </div>
</div>
{% endblock %}